.sidebar {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 30%;
}

.sidebar .header {
    min-height: calc(5vh - 0.5rem);
    padding-bottom: 0.5rem;
}

#conversations-container {
    height: calc(95vh - 1rem);
    overflow-y: scroll;
}

.conversation {
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 5px;
}

.conversation:hover {
    cursor: pointer;
}

#graphic {
    margin-left: 1rem;
    width: 100%;
}

#graphic #name {
    font-size: 1rem;
}