<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>messenger-data-viz</title>

        <style>
            @import url("{{ url_for('static', filename='css/main.css') }}");
            @import url("{{ url_for('static', filename='css/individual.css') }}");
        </style>
    </head>

    <body>
        <header>
            <h1>messenger-data-viz</h1>
            <p><b>by Eric Lau</b></p>
            <hr>
            <p class="description">
                Visualize your Facebook Messenger conversations.
            </p>
            <hr>
        </header>
        <div class="container">
            <p>
                Across all of your converastions, there have been <span id="total-messages"></span> messages sent.
            </p>
            <p>
                Below, you can see which conversations make up the most of that total amount. Conversations that make up
                less than 1.5 percent of your total have been grouped as "Other". Hover over each section to see the
                number of messages sent in that conversation.
            </p>
            <div id="current-percent"></div>
            <p>
                In the following graph, you can see all of your conversations on a <span id="increment"></span> basis.
                Hover over each colored section to see the conversation associated.
            </p>
            <div id="messages-per"></div>
        </div>
        <div style="padding: 0.5rem; display: flex; flex-direction: row;">
            <div class="sidebar">
                <div class="header">
                    <b>Conversations</b>
                </div>
                <div id="conversations-container">
                </div>
            </div>
            <div id="graphic">
                <div id="name"></div>
                <div id="subtotal"></div>
                <div id="subpercent" style="margin-bottom: 0.25rem;"></div>
                <div id='message-calendar-container'>
                    <div style="padding-bottom: 0.25rem; display: flex;">
                        <div id="year-container"></div>
                        <div id="calendar-toggle" style="margin-left: auto;"></div>
                    </div>
                </div>
                <div id='minute-line-container'></div>
                <div id='message-split-arc'></div>
                <div id='bubble-graph'></div>
            </div>
        </div>
        <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>