<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url("{{ url_for('static', filename='css/main.css') }}");
        </style>
    </head>

    <body>
        <header>
            <h1 id="name"></h1>
        </header>
        <div class="container">
            <div id='message-calendar-container'></div>
        </div>
        <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
        <script type="module" src="{{ url_for('static', filename='js/individual.js') }}"></script>
    </body>

</html>